
:root {
	--cmd-width: 100vw;
	--cmd-height: 100vh;
}

.cmd {
	width: var(--cmd-width);
	height: var(--cmd-height);
}
.cmd main {
	background-color: #002B36;
	height: calc(var(--cmd-height) - 35px);
	padding: 10px;
	color: #E5E5E5;
	display: flex;
	flex-direction: column;
}
.cmd .main__logo {
	margin-bottom: 20px;
	-ms-align-items: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Consolas', monospace;
	font-size: calc(calc(100vw - 20px) / 60);
}
.cmd .main__logo__image {
	font-size: 1em;
}
.cmd .main__logo__nickname {
	font-size: 2em;
}
.cmd .inputBox input {
	display: block;
	width: 100%;
	background-color: transparent;
	color: inherit;
	outline: none;
	border: none;
	font-size: inherit;
	font-family: inherit;
}
.cmd .inputBox {
	flex-grow: 3;
	cursor: text;
}
@media (min-width: 512px) {
	.cmd .main__logo {
		font-size: 6px;
	}
}
@media (min-width: 768px) {
	:root {
		--cmd-width: 640px;
		--cmd-height: 90vh;
	}
}
@media (min-width: 1024px) {
	.cmd .main__logo {
		font-size: 8px;
	}
}

.cmd .red {
	color: #DC322F;
}
.cmd .blue {
	color: #008cf0;
}
.cmd .magenta {
	color: #D33682;
}
.cmd .violet {
	color: #9C36B6;
}
.cmd .orange {
	color: #CB4B16;
}
.cmd .green {
	color: #4ced5c;
}
.cmd .cyan {
	color: #0df8c8;
}
.cmd .yellow {
	color: #D4CE34;
}