@font-face {
	font-family: 'play';
	font-weight: normal;
	font-style: normal;

	src: url('../fonts/play.eot');
	src: local('☺'), url('../fonts/play.woff') format('woff'), url('../fonts/play.ttf') format('truetype'), url('../fonts/play.svg') format('svg');
}

:root {
}
html { overflow: hidden }
* * {
	font-weight: 400!important;
	box-sizing: border-box;
}
body {
	margin: 0;
	font-family: 'play', sans-serif;
	font-size: 14px;
	overflow: hidden;
	height: 100vh;
	width: 100vw;
	position: relative;
	user-select: none;
}
p {
	margin: 0;
}
a {
	color: inherit;
}
a:hover {
	text-decoration: none;
}

.row {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	-ms-align-items: center;
	align-items: center;

	flex-wrap: wrap;
}
.column {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	flex-direction: column;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}
img,
video {
	max-width: 100%;
	display: block;
}
.background img {
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	object-fit: cover;
}
button {
	background-color: transparent;
	border: none;
	outline: none;
	padding: 0;
	font-size: 25px;
	-webkit-transition: .25s all;
	-o-transition: .25s all;
	transition: .25s all;
}

.app header {
	height: 35px;
	padding-left: 15px;
	background-color: #fff;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-between;
	cursor: move
}
.app .header__logo img {
	height: 21px;
	margin-right: 15px;
}
.controls button {
	width: 50px;
	height: 35px;
}
.close:hover {
	background-color: #DC322F;
	color: #fff;
}
.minimize:hover {
	background-color: #ccc;
}
.minimize:active {
	background-color: #bbb;
}

.app {
	min-width: 310px;
	position: absolute;
	-webkit-transition: 0.25s all;
	-o-transition: 0.25s all;
	transition: 0.25s all;
	outline: none;
}
.app:focus {
	z-index: 100;
	box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.25);
}
.app main {
	display: flex;
	flex-direction: column;
}
.app.minimized {
	opacity: 0;
	margin-top: 100%;
	transform: translateY(-50%) scale(.75);
}
#panel {
	position: absolute;
	z-index: 100;
	top: calc(100vh - 30px);
	width: 100%;
	padding-left: 9px;
	height: 30px;
	overflow: hidden;
	background-color: rgba(255,255,255,0.75);
	backdrop-filter: blur(10px)
}
.maximize {
	height: 100%;
	padding: 0 10px;
	font-size: 16px;
	max-height: 100%;
	margin-left: 1px;
	transform-origin: left;
	flex-wrap: nowrap;
	overflow: hidden;
}
.maximize img {
	height: 20px;
}
.maximize div {
	position: absolute;
	bottom: -100%;
	margin-left: 10px;
}
.maximize:hover {
	background-color: rgba(255,255,255,0.5);
}

.label {
	width: 60px;
	height: 60px;  
	padding: 5px;
	background-color: rgba(255,255,255,0.75);
	backdrop-filter: blur(10px);
	cursor: pointer;
	-ms-align-items: center;
	align-items: center;
}
.label img {
	height: 90%;
}
.label span {
	display: none;
}
.label:hover {
	opacity: .75;
}
.label.empty {
	background-color: transparent;
	backdrop-filter: none;
	cursor: default;
}
.label.empty:hover {
	background-color: transparent;
	background-filter: none
}

@media (min-width: 512px) {
	.label {
		width: 80px;
		height: 80px;
	}
}
@media (min-width: 768px) {
	.label {
		width: 90px;
		height: 90px;
	}
	.label img {
		height: 70%;
	}
	.label span {
		display: block;
	}
	.maximize div {
		position: static;
	}
}
@media (min-width: 1024px) {
	.label {
		width: 100px;
		height: 100px;
	}
}